In [ ]:
import pandas as pd

df_ap = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/andhra_bus_details.csv")
df_k = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/kerala_bus_detials.csv")
df_t = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/telangana_bus_details.csv")
df_a = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/assan_bus_details.csv")
df_c = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/chandigarh_bus_details.csv")
df_g = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/goa_bus_details.csv")
df_h = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/himachal_bus_details.csv")
df_p = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/punjab_bus_details.csv")
df_r = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/rajasthan_bus_details.csv")
df_up = pd.read_csv("C:/Users/Sruthika/OneDrive/Desktop/buscsv/up_bus_detials.csv")

In [ ]:
redbus_df  = pd.concat([df_ap,df_k,df_t,df_a,df_c,df_g,df_h,df_p,df_r,df_up], ignore_index=True)
redbus_df

In [ ]:
# Remove redundant index column
redbus_df.drop(columns=['Unnamed: 0'], inplace=True)

# Convert 'Price' to numerical value
redbus_df['Price'] = redbus_df['Price'].str.replace('INR ', '').astype(float)

# Extract number of available seats from 'Seats_Available'
redbus_df['Seats_Available'] = redbus_df['Seats_Available'].str.extract('(\d+)').astype(int)

# Replace 'nan' and 'New' values in 'Ratings' with 0.0 and convert to float
redbus_df['Ratings'] = redbus_df['Ratings'].replace(['New', 'nan'], 0.0).astype(float)

# Handle missing values in the dataset
redbus_df.fillna({'Ratings': 0.0}, inplace=True)

In [ ]:
redbus_df

In [ ]:


def classify_bus_type(bus_type):
    bus_type_lower = bus_type.lower()
    
    if 'non ac' in bus_type_lower or 'non-ac' in bus_type_lower or 'non a/c' in bus_type_lower or 'non a.c' in bus_type_lower:
        if 'sleeper' in bus_type_lower or 'seater / sleeper' in bus_type_lower:
            return 'NON AC Seater / Sleeper'
        else:
            return 'NON AC Seater'
    elif 'ac' in bus_type_lower or 'a.c.' in bus_type_lower or 'a/c' in bus_type_lower or 'a.c' in bus_type_lower:
        if 'sleeper' in bus_type_lower or 'seater / sleeper' in bus_type_lower or 'semi sleeper' in bus_type_lower:
            return 'AC Seater / Sleeper'
        else:
            return 'AC Seater'
    else:
        return 'Others'

# Sample data
data = {
    'Bus_type': redbus_df['Bus_type']
}

# Create DataFrame
bustype_df = pd.DataFrame(data)

# Apply the mapping function
bustype_df['Bustype_Category'] = bustype_df['Bus_type'].apply(classify_bus_type)

# Display the result
print(bustype_df)

In [ ]:
bustype_df

In [ ]:
others_df = bustype_df[bustype_df['Bustype_Category'] == 'Others']
others_df

In [ ]:
# Ensure Bus_type in bustype_df is unique
bustype_df = bustype_df.drop_duplicates(subset=['Bus_type'])

# Merging the Bustype_Category into redbus_df
redbus_df = redbus_df.merge(bustype_df, on='Bus_type', how='left')

In [ ]:
from sqlalchemy import create_engine, VARCHAR, INTEGER, FLOAT, TEXT, TIME, text
from sqlalchemy.exc import OperationalError
from urllib.parse import quote_plus

def create_database(engine, database_name):
    with engine.connect() as connection:
        connection.execute(text(f"CREATE DATABASE IF NOT EXISTS {database_name}"))
        connection.execute(text(f"USE {database_name}"))

def create_table(engine, table_name):
    create_table_query = f"""
    CREATE TABLE IF NOT EXISTS {table_name} (
        Bus_name VARCHAR(255),
        Bus_type TEXT,
        Start_time VARCHAR(50),
        End_time VARCHAR(50),
        Total_duration VARCHAR(255),
        Price FLOAT,
        Seats_Available INTEGER,
        Ratings FLOAT,
        State VARCHAR(255),
        Route_link TEXT,
        Route_name TEXT,
        Bustype_Category TEXT
    );
    """
    with engine.connect() as connection:
        connection.execute(text(create_table_query))

def transfer_redbus_to_sql(redbus_df):
    # Define MySQL connection string
    mysql_password = 'Shyam1234@'
    encoded_password = quote_plus(mysql_password)
    mysql_connection_string = f'mysql+pymysql://root:{encoded_password}@127.0.0.1:3306'

    # Create SQLAlchemy engine
    engine = create_engine(mysql_connection_string)

    # Create database if it doesn't exist
    database_name = 'redbus'
    create_database(engine, database_name)

    # Create the table if it doesn't exist
    table_name = 'redbus_data'
    create_table(engine, table_name)

    # Update connection string to include the database
    mysql_connection_string = f'mysql+pymysql://root:{encoded_password}@127.0.0.1:3306/{database_name}'
    engine = create_engine(mysql_connection_string)

    # Define data types for each column
    redbus_dtypes = {
        'Bus_name': VARCHAR(255), 
        'Bus_type': TEXT, 
        'Start_time': TIME, 
        'End_time': TIME, 
        'Total_duration': VARCHAR(255), 
        'Price': FLOAT, 
        'Seats_Available': INTEGER, 
        'Ratings': FLOAT, 
        'State': VARCHAR(255), 
        'Route_link': TEXT, 
        'Route_name': TEXT,
        'Bustype_Category' : TEXT
    }

    # Append data to the existing table with specified data types
    redbus_df.to_sql(table_name, con=engine, if_exists='append', index=False, dtype=redbus_dtypes)

    # Dispose the engine after use
    engine.dispose()

In [ ]:
transfer_redbus_to_sql(redbus_df)